.episode-result {
    text-align: center;
    margin-top: 20px;
}

.episode-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.series-icon {
  width: auto;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

#shareButton {
    background-color: rgb(0, 140, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#shareButton:hover {
    background-color: rgb(0, 100, 200);
}

.social-btn {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  transition: background 0.3s ease;
}

.social-btn i {
  margin-right: 6px;
}

.twitter, .threads {
  background-color: #000000;
}

.whatsapp {
  background-color: #25D366;
}

.social-btn:hover {
  opacity: 0.85;
}

.bluesky {
  background-color: #1DA1F2;
}

.instagram {
  background: linear-gradient(to right, #F58529, #DD2A7B, #8134AF, #515BD4);
}

.discord {
  background-color: #5865f2;
}

.instagram, .bluesky {
  margin-top: 10px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.social-buttons a {
  font-size: 2rem;
  margin: 10px;
  color: #ffffff;
  transition: transform 0.2s, color 0.2s;
}

.social-buttons a:hover {
  transform: scale(1.2);
}

.associadouga {
    background-color: red;
}

#surpriseButton {
  background-color: #7C4DFF;
  color: white;
  border: none;
  padding: 10px 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#surpriseButton:hover {
  background-color: #651FFF;
}

.birthbox {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

.birthbox button {
    background-color: rgb(69, 197, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.birthbox button:hover {
    background-color: darkgreen;
}


/* Tema Zero-One */

.dark-theme .birthbox {
  background-color: #1e1e1e;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  border: greenyellow solid 4px;
  color: #e0e0e0;
}

.dark-theme button {
  background-color: #388e3c;
  color: white;
}

.dark-theme button:hover {
  background-color: #2e7d32;
}

/* Tema Geats */

body.geats-theme .birthbox {
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
  box-shadow: 0 0 8px rgba(100, 100, 100, 0.3);
  border: 4px solid; 
  border-image: linear-gradient(to right, #ffcb00, #ffffff, #ffcb00) 1;
  border-image-slice: 1; 
}

/* Tema OOO */

body.ooo-theme .birthbox {
  background-color: hsl(0, 0%, 0%);
  color: white;
  box-shadow: 0 0 8px rgba(100, 100, 100, 0.3);
  border: 4px solid; 
  border-image: linear-gradient(to top, red, yellow, green) 1;
  border-image-slice: 1; 
}

/* Tema Showa */

body.showa-theme .birthbox {
  background-color: #f5f0e3;
  color: #333;
  border: 3px solid #aa0000;
  box-shadow: 0 0 8px rgba(100, 100, 100, 0.3);
}

body.showa-theme .birthbox button {
    background-color: #aa0000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

body.showa-theme .birthbox button:hover {
  background-color: #8b0000;
}

body.showa-theme #surpriseButton,
body.showa-theme #shareButton {
    background-color: teal;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

body.showa-theme #surpriseButton:hover,
body.showa-theme #shareButton:hover {
  background-color: rgb(2, 79, 98);
}

/* Tema Gavv */

body.gavv-theme .birthbox {
  background-color: #2e003ee1;
  border: 2px solid gold;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  color: #f5d0ff;
}

body.gavv-theme .birthbox button {
    background-color: gold;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

body.gavv-theme .birthbox button:hover {
    background-color: rgb(137, 99, 0);
}

/* Tema Kabuto */

body.kabuto-theme .birthbox {
  background-color: #750000;
  color: #ffffff;
  border: 3px solid rgb(86, 86, 86);
  box-shadow: 0 0 8px rgba(100, 100, 100, 0.3);
}

body.kabuto-theme .birthbox button {
    background-color: rgb(0, 157, 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;rgb(157, 157, 157);
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

body.kabuto-theme .birthbox button:hover {
  background-color: #0077cc;
}

body.kabuto-theme #surpriseButton,
body.kabuto-theme #shareButton {
    background-color: rgb(184, 184, 184);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

body.kabuto-theme #surpriseButton:hover,
body.kabuto-theme #shareButton:hover {
  background-color: rgb(108, 108, 108);
}

/* Tema Decade */

body.decade-theme .birthbox {
  background-color: rgb(30, 30, 30);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  border: magenta solid 4px;
  color: rgb(255, 252, 252);
}

/* Tema W */

body.w-theme .birthbox {
  background-color: rgb(30, 30, 30);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  border: 4px solid;
  border-image: linear-gradient(to bottom, green, purple) 1;
  border-image-slice: 1; 
  color: rgb(255, 252, 252);
}

/* Tema Build */

body.build-theme .birthbox {
  background-color: rgb(30, 30, 30);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  border: 4px solid; 
  border-image: linear-gradient(to top, red, blue) 1;
  border-image-slice: 1; 
  color: rgb(255, 252, 252);
}

/* Tema Zeztz */

body.zeztz-theme .birthbox {
  background-color: #000000a8;
  border: 4px solid; 
  border-image: linear-gradient(to top, #00A496, #E50038) 1;
  border-image-slice: 1; 
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

body.zeztz-theme .birthbox button {
    background-color: #ff6536;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

body.zeztz-theme .birthbox button:hover {
    background-color: #c70039;
}

body.zeztz-theme .birthbox #surpriseButton {
    background-color: #00A496;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

body.zeztz-theme .birthbox #surpriseButton:hover {
    background-color: #007f6a;
}

.novo {
  color: red;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.proximo {
  color: rgb(0, 136, 255);
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.aniversario {
  color: #0077cc;
  font-style: italic;
}
